
body {
    background-image: url('../img/dataprocess_background_1.jpg');
    width: 100%;
    height: 40%;
    background-size: cover;
}

a.link01 {
    color: darkblue;
    background-color: yellow;
    font-weight: bold;
}

.open_bt_1 {
  background: lightskyblue;
  background-image: -webkit-linear-gradient(top, lightskyblue, blue);
  background-image: -moz-linear-gradient(top, lightskyblue, blue);
  background-image: -ms-linear-gradient(top, lightskyblue, blue);
  background-image: -o-linear-gradient(top, lightskyblue, blue);
  background-image: linear-gradient(to bottom, lightskyblue, blue);
  border-radius: 60px;
  color: white;
  font-size: 20px;
  padding: 8px 20px 10px 20px;
  border: dotted black 1px;
  text-decoration: none;
}

.open_bt_1:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #2986cc);
  background-image: -moz-linear-gradient(top, #3cb0fd, #2986cc);
  background-image: -ms-linear-gradient(top, #3cb0fd, #2986cc);
  background-image: -o-linear-gradient(top, #3cb0fd, #2986cc);
  background-image: linear-gradient(to bottom, #3cb0fd, #2986cc);
  text-decoration: none;
}

.close_bt_1 {
  background: blue;
  background-image: -webkit-linear-gradient(top, blue, darkblue);
  background-image: -moz-linear-gradient(top, blue, darkblue);
  background-image: -ms-linear-gradient(top, blue, darkblue);
  background-image: -o-linear-gradient(top, blue, darkblue);
  background-image: linear-gradient(to bottom, blue, darkblue);
  border-radius: 60px;
  color: white;
  font-size: 20px;
  padding: 8px 20px 10px 20px;
  border: dotted black 1px;
  text-decoration: none;
}


.delete_bt_1 {
  background: red;
  background-image: -webkit-linear-gradient(top, red, darkred);
  background-image: -moz-linear-gradient(top, red, darkred);
  background-image: -ms-linear-gradient(top, red, darkred);
  background-image: -o-linear-gradient(top, red, darkred);
  background-image: linear-gradient(to bottom, red, darkred);
  border-radius: 60px;
  color: white;
  font-size: 20px;
  padding: 8px 20px 10px 20px;
  border: dotted black 1px;
  text-decoration: none;
}

.delete_bt_1:hover {
  background: #eeeeee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #c90076);
  background-image: -moz-linear-gradient(top, #eeeeee, #c90076);
  background-image: -ms-linear-gradient(top, #eeeeee, #c90076);
  background-image: -o-linear-gradient(top, #eeeeee, #c90076);
  background-image: linear-gradient(to bottom, #eeeeee, #c90076);
  text-decoration: none;
}

.close_bt_1:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #2986cc);
  background-image: -moz-linear-gradient(top, #3cb0fd, #2986cc);
  background-image: -ms-linear-gradient(top, #3cb0fd, #2986cc);
  background-image: -o-linear-gradient(top, #3cb0fd, #2986cc);
  background-image: linear-gradient(to bottom, #3cb0fd, #2986cc);
  text-decoration: none;
}

table.altrowstable {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: darkblue;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
}

table.altrowstable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}

table.altrowstable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}

.oddrowcolor {
    background-color: lightskyblue;
}

.evenrowcolor {
    background-color: deepskyblue;
}

b.big_bond_font {
    font-size: 30px;
    font-weight: bold;
    color: skyblue;
}

b.common_text {
    font-size: 24px;
    font-weight: bold;
    color: black;
    background-color: yellow;
}

div.echart {
    width: 1100px;
    height: 600px;
    background: white;
}

input[type="text"] {
    width: 300px;
    padding: 4px 40px;
    margin: 0 0;
    box-sizing: border-box;
}