{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <meta name='TTUNION_verify' content='b846c3c2b85efabc496d2a2b8399cd62'>
        <meta name="sogou_site_verification" content="gI1bINaJcL"/>
        <meta name="360-site-verification" content="37ae9186443cc6e270d8a52943cd3c5a"/>
        <meta name="baidu_union_verify" content="99203948fbfbb64534dbe0f030cbe817">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta name="keywords" content="XXX。">
        <meta name="description" content="XXX">
        <meta name="author" content="AUI, a-ui.com">
        <meta name="baidu-site-verification" content="ZVPGgtpUfW"/>
        <title>XXX--征信数据服务</title>
        <link rel="icon" type="image/x-icon" href="../static/themes/img/favicon.ico">
        <!--<link href="iTunesArtwork@2x.png" sizes="114x114" rel="apple-touch-icon-precomposed">-->
        <link type="text/css" rel="stylesheet" href="{% static 'themes/css/base.css'%}">
        <link type="text/css" rel="stylesheet" href="{% static 'themes/css/home.css'%}">
        <script type="text/javascript" src="{% static 'themes/js/jquery.js'%}"></script>
    </head>
    <body>
        <div class="header">
            <h1>
                <a href="index.html">
                    <div class="logo">
                        <img class="full_height" src="{% static 'themes/img/logo.png'%}" alt="XXX"/>
                    </div>
                </a>
            </h1>
            <div class="page-tab">
                <div class="hoverUnderLine"></div>
                <ul class="first-menu">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li class>
                        <a href="dataprocess">我的数据处理</a>
                    </li>
                    <li>
                        <a href="risk.html">智能风控服务</a>
                    </li>
                    <li>
                        <a href="receive.html">智能获客服务</a>
                    </li>
                    <li class="active">
                        <a href="data.html">征信数据服务</a>
                    </li>
                    <li>
                        <a href="about.html">关于我们</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="aui-Wrapper">
            <div class="aui-data-bg">
                <div class="aui-content">
                    <div class="aui-content-region">
                        <span class="aui-icon-left"></span>
                        <h2>智能定义未来</h2>
                        <h2>数据决定发展</h2>
                        <span class="aui-icon-right"></span>
                    </div>
                </div>
            </div>
            <div class="aui-content-text">
                <h3>征信数据服务</h3>
                <p>XXX信息服务平台面向企业用户提供三大数据信息服务，拥有超过5亿条公开征信大数据信息，保持每日及时更新，是目前行业内主流数据源之一。1000+数据清洗规则保障数据质量，多维数据单个接口，在线查询，一查即得。在高并发下也能保持高效传输。适用于贷前审核、贷后监控、投资尽调等各类征信业务场景。可识别多类风险事件并对事件进行分级处理，及时预警，规避风险。
                </p>
            </div>
        </div>
        <div class="footerWrapper">
            <div class="title font-32" style="padding:45px 0 0 0;">联系我们</div>
            <div style="font-size:17px;color:#4d4d4d;text-align:center;padding:10px 0 50px 0;">XXX与您共创辉煌</div>
            <div class="footer">
                <div class="top">
                    <div class="item">
                        <ul class="cursor_default">
                            <li>
                                <a>
                                    <span class="footerIcons footerPhone"></span>
                                    <span>北京XXX科技有限公司</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="footerIcons footerAfterSale"></span>
                                    <span>XXX</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="footerIcons footerBusiness"></span>
                                    <span>XXX</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="footerIcons footerMedia"></span>
                                    <span>XXX</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="adcodeArea">
                        <div class="icon_adcode">
                            <img class="full_height" src="{% static 'themes/img/aui-code.jpg' %}" alt="微信公众账号"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tipmsgArea">
                <div class="content">
                    <div class="name">
                        Copyright © 2018 北京XXX科技有限公司  备案号：京ICP备xxxxxx号   
                        
                        
                        
                        <em>
                            <img src="{% static 'themes/img/icon-ga.png'%}" width="20" height="20" alt="">公网安备 京ICP备xxxx号-3
                        
                        
                        
                        </em>
                    </div>
                </div>
            </div>
        </div>
        <div class="mask">
            <div class="layer"></div>
            <div class="content">
                <img src="{% static 'themes/img/maskLayer.png'%}" alt="低于ie8提示"/>
                <a class="google" href="https://www.google.cn/intl/zh-CN/chrome/browser/desktop/" target=_blank>谷歌 Chrome</a>
                <a class="firefox" href="http://www.firefox.com.cn/" target=_blank>火狐 Firefox</a>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'themes/js/js.js' %}"></script>
        <script type="text/javascript">

            $('.aui-list-grids').click(function(e) {

                $(this).addClass('this-card').siblings().removeClass('this-card');

                $('#type-amount').html($(this).find('.cardAmount').html());

            })
        </script>
    </body>
</html>
