{% load static %}
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <meta name='TTUNION_verify' content='b846c3c2b85efabc496d2a2b8399cd62'>
        <meta name="sogou_site_verification" content="gI1bINaJcL"/>
        <meta name="360-site-verification" content="37ae9186443cc6e270d8a52943cd3c5a"/>
        <meta name="baidu_union_verify" content="99203948fbfbb64534dbe0f030cbe817">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta name="keywords" content="XXX。">
        <meta name="description" content="XXX">
        <meta name="author" content="AUI, a-ui.com">
        <meta name="baidu-site-verification" content="ZVPGgtpUfW"/>
        <title>XXX</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link href="" sizes="114x114" rel="apple-touch-icon-precomposed">
        <link type="text/css" rel="stylesheet" href="{% static 'themes/css/base.css'%}">
        <link type="text/css" rel="stylesheet" href="{% static 'themes/css/home.css'%}">
        <script type="text/javascript" src="{% static 'themes/js/jquery.js' %}"></script>

    </head>
    <body>
        <div class="header">
            <h1>
                <a href="index.html">
                    <div class="logo">
                        <img class="full_height" src="{% static 'themes/img/logo.png' %}" alt="XXX"/>
                    </div>
                </a>
            </h1>
            <div class="page-tab">
                <div class="hoverUnderLine"></div>
                <ul class="first-menu">
                    <li class="active">
                        <a href="index.html">首页</a>
                    </li>
                    <li class>
                        <a href="dataprocess">我的数据处理</a>
                    </li>
                    <li>
                        <a href="risk.html">智能风控服务</a>
                    </li>
                    <li>
                        <a href="receive.html">智能获客服务</a>
                    </li>
                    <li>
                        <a href="data.html">征信数据服务</a>
                    </li>
                    <li>
                        <a href="about.html">关于我们</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contetnWrapper">
            <div id="Index">
                <div class="flexslider kv_slides">
                    <ul class="slides">
                        <li>
                            <div class="left textAnimation" style="display:block;">
                                <div class="font-ll">智能风控</div>
                                <div class="moduleIntroduction">基于客户的多维度数据，以申请时点为基准，通过客户的动态申请行为趋势变化、申请贷款偏好情况、信息伪装变更等情况，采用机器学习算法进行建模，得出风险评分。通过复杂关系网络发现客户申请当中存在的风险点，可以有效识别恶意欠款等早期风险。</div>
                            </div>
                            <div class="right ">
                                <div class="right">
                                    <div class="sliderImg">
                                        <img class="imgAnimation_kv1" src="{% static 'themes/img/aui-banner01.png' %}" alt="" draggable="false" style="display: block;">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <div class="font-ll">智能获客</div>
                                <div class="moduleIntroduction">基于准确可靠且广泛的信贷行为及跨行业数据，通过客户的身份基本信息（包括年龄、工作性质、生活水平等）、借贷历史（卡贷情况）、负债情况、人脉关系、行为偏好等信息进行综合处理和评估利用，运用机器学习算法进行建模，结合积累的客户表现数据进行客户分类，筛选出优质客户群体，达到降低获客成本，快速提升贷款规模的目的</div>
                            </div>
                            <div class="right">
                                <div class="sliderImg">
                                    <img src="{% static 'themes/img/aui-banner02.png' %}" alt="智能获客"/>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <div class="font-ll">征信数据服务</div>
                                <div class="moduleIntroduction">结合第三方征信系统丰富的数据资源和合作渠道，为银行、保险、电信运营商、电商、P2P平台、基金、证券、小贷公司、租赁、物流、招聘等客户提供个人信用信息认证服务</div>
                            </div>
                            <div class="right">
                                <div class="sliderImg">
                                    <img src="{% static 'themes/img/aui-banner03.png' %}" alt="征信数据服务"/>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="productionAndService" class="module gray">
                    <div class="title font-32" style="padding:45px 0 0 0;">产品服务</div>
                    <div style="font-size:17px;color:#4d4d4d;text-align:center;padding:10px 0 50px 0;">提供精准、一站式卓越的产品和服务</div>
                    <ul class="productionLists">
                        <li index="0">
                            <div class="icons icon-khjzpj icons-one"></div>
                            <div class="name">用户评估报告</div>
                            <ul class="summary">
                                <li>综合数据</li>
                                <li>精准画像</li>
                            </ul>
                            <div class="content">XXX通过自身的大数据平台，利用统计学、机器学习和自然语言处理等人工智能技术方法，构建了一幅全面、立体、生动精准的“用户画像”，在此基础上经过智能云风控引擎在业务中的快速计算自动迭代，最终得出信用主体的信用评估，进而为金融机构提供参考依据</div>
                            <div class="rightLine"></div>
                        </li>
                        <li index="1">
                            <div class="icons icon-zqfxsb icons-two"></div>
                            <div class="name">信贷审批系统</div>
                            <ul class="summary">
                                <li>交叉验证</li>
                                <li>快速审批</li>
                            </ul>
                            <div class="content">信贷审批系统，是结合XXX大数据和云计算技术，依托“XXX用户评估报告”帮助P2P在信贷审批过程中，进行风险控制，交叉核验，实现信贷用户从资质审核、欺诈防范到信用评估整个过程，降低风险成本，为客户保驾护航。</div>
                            <div class="rightLine"></div>
                        </li>
                        <li index="2">
                            <div class="icons icon-qzfxff icons-three"></div>
                            <div class="name">反欺诈分析报告</div>
                            <ul class="summary">
                                <li>分类甄别</li>
                                <li>完整报告</li>
                            </ul>
                            <div class="content">依托个人反欺诈决策引擎，对用户身份信息、黑名单信息、风险信息、多头借贷等行为进行甄别，为信贷机构提供一套完整的贷前反欺诈分析报告。</div>
                            <div class="rightLine"></div>
                        </li>
                        <li index="3">
                            <div class="icons icon-dhjkgl icon-four"></div>
                            <div class="name">智能决策引擎</div>
                            <ul class="summary">
                                <li>易用部署</li>
                                <li>智能决策</li>
                            </ul>
                            <div class="content">XXX提供了性能更强、更易用、可快速部署的解决方案，XXX智能决策引擎采用独特算法，决策性能大幅领先于同类产品，灵活的松耦合架构与多种部署方式。可支持热部署，使决策变得简单快速，通过预测性分析和模拟方法来辅助不断优化决策。</div>
                        </li>
                    </ul>
                </div>
                <div id="dataStatistics" class="module">
                    <div class="title font-32" style="padding:45px 0 100px 0;">我们的优势</div>
                    <ul class="aui-list-box">
                        <li class="aui-list-grids this-card">
                            <div class="aui-list-item">
                                <div class="aui-list-one-bj"></div>
                                <div class="aui-list-one-bg">具备丰富的金融风险管理经验</div>
                            </div>
                        </li>
                        <li class="aui-list-grids">
                            <div class="aui-list-item-two">
                                <div class="aui-list-one-bj"></div>
                                <div class="aui-list-one-bg">具有全面、丰富、高质量的数据资源</div>
                            </div>
                        </li>
                        <li class="aui-list-grids">
                            <div class="aui-list-item-three">
                                <div class="aui-list-one-bj"></div>
                                <div class="aui-list-one-bg">能够提供高效、稳定的系统技术服务</div>
                            </div>
                        </li>
                        <li class="aui-list-grids">
                            <div class="aui-list-item-four">
                                <div class="aui-list-one-bj"></div>
                                <div class="aui-list-one-bg">得到数家知名金融机构的认可</div>
                            </div>
                        </li>
                        <li class="aui-list-grids">
                            <div class="aui-list-item-five">
                                <div class="aui-list-one-bj"></div>
                                <div class="aui-list-one-bg">具备业内一流的数据分析和产品创新能力</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="partner" class="module">
                    <div class="title font-32" style="padding:45px 0 0 0;">合作伙伴</div>
                    <div style="font-size:17px;color:#4d4d4d;text-align:center;padding:10px 0 50px 0;">携手合作伙伴共建金融风控新生态</div>
                    <div class="content">
                        <div class="width_17 fl t_right va_middle prev p_r" style="height: 100%;"></div>
                        <div class="width_66 fl logo_box p_r" id="logo_box" style="height: 100%;left: 50%;">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <div class="allOfLogo allOfLogo1">
                                            <div class="fl img_box">
                                                <div>
                                                    <img src="{% static 'themes/img/partner_logo1.png' %}" alt="苏州银行"/>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="fl img_box">
                                                <div>
                                                    <img src="{% static 'themes/img/partner_logo2.png' %}" alt="合作伙伴_包商银行"/>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="fl img_box">
                                                <div>
                                                    <img src="{% static 'themes/img/partner_logo3.png' %}" alt="合作伙伴_苏州银行"/>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="fl img_box">
                                                <div>
                                                    <img src="{% static 'themes/img/partner_logo4.png' %}" alt="合作伙伴_51信用卡"/>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="fl img_box">
                                                <div>
                                                    <img src="{% static 'themes/img/partner_logo5.png' %}" alt="合作伙伴_凡普金科"/>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="fl img_box">
                                                <div>
                                                    <img src="{% static 'themes/img/partner_logo6.png' %}" alt="合作伙伴_飞贷"/>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="fl img_box">
                                                <div>
                                                    <img src="{% static 'themes/img/partner_logo7.png' %}" alt="合作伙伴_玖富万卡"/>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="fl img_box">
                                                <div>
                                                    <img src="{% static 'themes/img/partner_logo8.png' %}" alt="合作伙伴_掌众金服"/>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="fl img_box">
                                                <div>
                                                    <img src="{% static 'themes/img/partner_logo9.png' %}" alt="合作伙伴_宜信"/>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="fl img_box">
                                                <div>
                                                    <img src="{% static 'themes/img/partner_logo10.png' %}" alt="合作伙伴_手机贷"/>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="clearFloat"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearFloat"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerWrapper">
            <div class="title font-32" style="padding:45px 0 0 0;">联系我们</div>
            <div style="font-size:17px;color:#4d4d4d;text-align:center;padding:10px 0 50px 0;">XXX与您共创辉煌</div>
            <div class="footer">
                <div class="top">
                    <div class="item">
                        <ul class="cursor_default">
                            <li>
                                <a>
                                    <span class="footerIcons footerPhone"></span>
                                    <span>北京XXX科技有限公司</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="footerIcons footerAfterSale"></span>
                                    <span>XXX</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="footerIcons footerBusiness"></span>
                                    <span>XXX</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="footerIcons footerMedia"></span>
                                    <span>XXX</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="footerIcons footerAuthor"></span>
                                    <span>技术支持-XXX</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="adcodeArea">
                        <div class="icon_adcode">
                            <img class="full_height" src="{% static 'themes/img/aui-code.jpg' %}" alt="微信公众账号"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tipmsgArea">
                <div class="content">
                    <div class="name">
                        Copyright © 2018 北京XXX科技有限公司 
                        <em>
                            <img src="{% static 'themes/img/icon-ga.png' %}" width="20" height="20" alt="">公网安备 京ICP备xxxxxx号-3
                        </em>
                        <a href="#" style="color:#000">技术支持</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mask">
            <div class="layer"></div>
            <div class="content">
                <img src="{% static 'themes/img/maskLayer.png' %}" alt="低于ie8提示"/>
                <a class="google" href="https://www.google.cn/intl/zh-CN/chrome/browser/desktop/" target=_blank>谷歌 Chrome</a>
                <a class="firefox" href="http://www.firefox.com.cn/" target=_blank>火狐 Firefox</a>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'themes/js/js.js' %}"></script>
        <script type="text/javascript">

            $('.aui-list-grids').click(function(e) {

                $(this).addClass('this-card').siblings().removeClass('this-card');

                $('#type-amount').html($(this).find('.cardAmount').html());

            })
        </script>
        <style>
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
</style>
<div class="copyrights" id="links20210126">
	Collect from <a href="http://www.cssmoban.com/"  title="网站模板">模板之家</a>
	<a href="https://www.chazidian.com/"  title="查字典">查字典</a>
</div>
</body>
</html>
